<template>
  <span>
    <navigation></navigation>
    <v-content>
      <v-container class="app-main">
        <v-row style="">
          <v-col cols="12" sm="12" md="4">
            <v-row class="d-flex flex-column" justify="center" align="center">
              <v-container class="px-12">
                <v-row class="d-flex flex-column" justify="center" align="center">
                  <v-col>
                    <p>RAM</p>
                    <v-progress-linear v-model="ram" color="green" height="25" stream read>
                      <template v-slot="{ value }">
                        <strong>{{value}}%</strong>
                      </template>
                    </v-progress-linear>
                    <p class="pt-4">CPU</p>
                    <v-progress-linear v-model="cpu" height="25" stream>
                      <template v-slot="{ value }">
                        <strong>{{value}}%</strong>
                      </template>
                    </v-progress-linear>
                  </v-col>
                </v-row>
                <v-row class="pt-6">
                  <v-col>
                    <p class="title">Camara Seleccionada</p>
                    <v-select v-model="cameraSelected" :items="cameraList" menu-props="auto" label="Seleccionar camara" hide-details prepend-icon="mdi-webcam" single-line>
                    </v-select>
                  </v-col>
                </v-row>
              </v-container>
            </v-row>
          </v-col>
          <v-col cols="12" sm="12" md="8">
            <v-row class="d-flex flex-column" justify="center" align="center">
              <p class="headline font-weight-black">VideoVigilancia FIIS-UNI</p>
              <img src="https://api.raspberry-01.dahsser.com/stream.mjpg" width="640" height="480">
            </v-row>
          </v-col>
        </v-row>
      </v-container>
    </v-content>
  </span>
</template>

<script>
// @ is an alias to /src
import Navigation from '@/views/components/Navigation.vue'
export default {
  name: 'home',
  components: {
    Navigation
  },
  data: () => ({
    cpu: 0,
    ram: 0,
    cameraSelected: 'Camara Sala Principal',
    cameraList: [
      'Camara Cochera',
      'Camara Sala Principal',
      'Camara Cocina'
    ]
  }),
  mounted () {
    setInterval(() => {
      fetch('https://api.raspberry-01.dahsser.com/server-status').then(stream => stream.json()).then(data => {
        this.cpu = data.cpu === '0.0' ? 0 : data.cpu
        this.ram = data.memoria === '0.0' ? 0 : data.memoria
      })
    }, 1000)
  }
}
</script>
