<template>
  <span>
    <v-navigation-drawer
      v-model="drawer"
      app
      clipped
    >
      <v-list dense>
        <v-list-item-group v-model="selected">
          <v-list-item v-for="(item, index) in sidebar" :key="index" @click="changeRoute(item.routerName, index)">
            <v-list-item-action>
              <v-icon>{{item.icon}}</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>{{item.title}}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar
      app
      clipped-left
    >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      <v-toolbar-title>SNAP | IoT</v-toolbar-title>
    </v-app-bar>
  </span>
</template>

<script>
export default {
  name: 'navigation',
  data: () => ({
    drawer: null,
    selected: 0,
    sidebar: [{
      icon: 'mdi-view-dashboard',
      title: 'Dashboard'
    },
    {
      icon: 'mdi-settings',
      title: 'Settings'
    }]
  }),
  methods: {
    changeRoute (routeName, selectedIndex) {
      const vm = this
      vm.selectedIndex = selectedIndex
      return vm.$router.push({ name: routeName })
    }
  }
}
</script>

<style>

</style>
